.banner {
  height: 35vh;
  background-image: linear-gradient(
      to right,
      rgb(50, 53, 53),
      rgba(68, 75, 71, 0.794),
      rgba(122, 124, 126, 0.794)
    ),
    url('../../assets/images/polify_brackground.jpg');
  background-position: center;
}

.banner-img {
  height: 100%;
  width: 100%;
}
